main{
    background-color: white;
    transition: 1s;
}

.buttom-red{
    position: relative;
    transition: 1s;
    z-index: 1;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background-color: white;
    color: rgb(249, 62, 56) !important;
    font-weight: 600;
}
.buttom-red:hover{
    background-color: rgb(206, 50, 45);
    color: white !important;
    font-weight: 600;
    text-decoration: none;
    
}

.navbar{
    position: relative;
    z-index: 2;
}
.img-login{
    width: 100%;
    height: 100%;
  object-fit: cover;
  object-position: bottom;
}
form{
    position: absolute;
    right: 10%;
    top: 14vh;
    width: 260px;
    background-color: rgb(249, 62, 56);
    color: white;
    z-index: 2;
    padding: 30px;
    border-radius: 1px;
    transition: all 0.2s ease;
    border-radius: 20px;
}
form:hover{
    border-radius: 30px;
}
form h1{
    color: white;
    font-size: 125%;
}
.buttom-white{
    position: relative;
    transition: 1s;
    z-index: 1;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background-color: white;
    color: rgb(249, 62, 56) !important;
    font-weight: 600;
}
.buttom-white:hover{
    background-color: rgb(206, 50, 45);
    color: white !important;
    font-weight: 600;
}
.button-form{
    font-size: 12px;
}
.title-login{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
    color: white;
    font-weight: 700;
    font-size: 50px;
    width: 50%;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 18%;
    background-color: rgb(249, 62, 56);
    padding: 40px;
}
@media (max-width:978px) {
    .title-login{
        display: none;
    }
    .footer{
        width: 100%;
        left: 0;
        padding: 30px;
    }
    form{
        left: 10%;
        right: auto;
    }
}
.text-flash{
    color: white;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
}

@media (max-width: 1112px) {
    .square-about{
        display: none;
    }
    .about-text{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50px;
    }
    .buttom-red:hover{
        background-color: rgb(206, 50, 45) !important;
        color: white !important;
        font-weight: 600;
        text-decoration: none;
        
    }
    .img-project{
        display: none;
    }
 }
